body{
    background-image: url(backgrounds/wall.jpg);
}
#wrapper{
    background-size: cover;
    background-image: url(backgrounds/backgroundarenablue2.png);
    width: 1200px;
    margin: 0 auto;
}
